click
exchange-calendars
lightgbm
Logbook
mailjet-rest
matplotlib
mock
numpy
pandas
pandas-datareader
polling
psutil
pyfolio-reloaded
Pygments
python-dateutil
python-interface
pytz
requests
scikit-learn
scipy
setuptools
six
ta-lib
toolz
xgboost
zipline-reloaded
nasdaq-data-link
setuptools
scikit-learn
SQLAlchemy
python-dateutil
testfixtures
responses
ipykernel
ipyvolume
ipywidgets
jupyter
jupyter_contrib_nbextensions
jupyterlab
notebook
coverage
pytest
inflection
more_itertools
cython
