click
exchange-calendars
lightgbm
Logbook
mailjet-rest
matplotlib
mock
numpy
pandas
pandas-datareader
polling
psutil
pyfolio-reloaded
Pygments
python-dateutil
python-interface
pytz
Requests
scikit-learn
scipy
setuptools
six
ta-lib
toolz
xgboost
zipline-reloaded
nasdaq-data-link
setuptools
scikit-learn~=1.3.1
SQLAlchemy~=2.0.21
python-dateutil~=2.8.2
testfixtures
responses
ipykernel
ipyvolume
ipywidgets
jupyter
jupyter_contrib_nbextensions
jupyterlab
notebook
coverage
pytest
inflection
more_itertools
korean_lunar_calendar
packaging
